<b>Extra Assignment-2-Level-2-python

In [2]:
# print 0 to 20 by using range
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
# print range 10 to 20 
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [7]:
# print number of items in the list by using 'len'
given_list = [10,20,14,55,43,87,76]
print(given_list,"\n","Number of item in the List2: \n", len(given_list))

[10, 20, 14, 55, 43, 87, 76]
 Number of item in the List2:
 7

In [9]:
string = "Artificial Intelligence"
print(string)
for char in string:
    print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [10]:
profile=["john",55,"Software engineer"]
for item in profile:
    print(f"-{item}-")

-john-
-55-
-Software engineer-

In [12]:
# print the mixered datatype using tuple 
tuple1=(1,'Welcome',2,'Hope')
print(tuple1)

(1, 'Welcome', 2, 'Hope')

In [13]:
Tuple1=(0,1,2,3)
Tuple2=('python','HOPE')
Tuple3=(Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [15]:
# print odd numbers in the list
given_list = [20,10,16,19,25,1,276,188]
print(tuple(given_list))
for item in given_list:
    if (item%2 != 0):
        print(item, " is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19  is odd
25  is odd
1  is odd

In [16]:
# print even numbers in the list
given_list = [20,10,16,19,25,1,276,188]
print(tuple(given_list))
for item in given_list:
    if (item%2 == 0):
        print(item, " is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20  is even
10  is even
16  is even
276  is even
188  is even